<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>すべてが友利になる</title>
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.red-amber.min.css" />
<link rel="stylesheet" href="/static/honoka/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="/static/main.css" rel='stylesheet'>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
<script src="/static/honoka/bootstrap.min.js"></script>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        {% include "includes/navigation.html" %}
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-tablet">
                    {% block contents %}{% endblock %}
                </div>
                <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
        </div>
    </main>
    {% block scripts %}{% endblock %}
</div>
