{% extends "base.html" %}

{% block contents %}
    <div class="mdl-card mdl-shadow--2dp match">
        {% if user.is_authenticated() %}
            {% include "includes/timeline.html" %}
        {% else %}
            <div class="mdl-card__title">
                <h1>すべてが友利になる</h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>タイムラインがすべて友利奈緒になるツイッタークライアントです。</p>


                <p>
                    「すべてが友利になる」を利用するにはTwitterでログインしてください。
                    <br>なお、このアプリが勝手に書き込みを行うことはありません。
                </p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <div class="mdl-layout-spacer"></div>
                <a href="{{ url_for('twitter_login') }}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Twitterでログインする
                </a>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block sidebar %}
    <div class="mdl-cell mdl-card mdl-shadow--2dp match">
        <div class="side_title mdl-card__title">
            <h2 class="mdl-card__title-text">シェアする</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            {% include "includes/social_buttons.html" %}
        </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--2dp match">
        <div class="side_title mdl-card__title">
            <h2 class="mdl-card__title-text">Charlotte</h2>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a href="http://www.amazon.co.jp/gp/product/B011MVXS68/ref=as_li_ss_il?ie=UTF8&camp=247&creative=7399&creativeASIN=B011MVXS68&linkCode=as2&tag=unknomater-22"><img class="match" border="0" src="http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B011MVXS68&Format=_SL450_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=unknomater-22" ></a><img src="http://ir-jp.amazon-adsystem.com/e/ir?t=unknomater-22&l=as2&o=9&a=B011MVXS68" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

        </div>
    </div>
    <footer>©2015 <a href="http://kimihiro-n.appspot.com">pistatium</a></footer>
{% endblock %}

{% block scripts %}
    <script src="/static/timeline.js?v=0.1.1"></script>
{% endblock %}
