<button class="reload_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    ツイートを更新する
</button>

<div class="loading_bar match mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
<div class="match">
    <div class="timeline list-group">
    </div>
</div>
<div class="loading_bar match mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
<button class="more_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    もっと読み込む
</button>
