<button class="reload_button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    ツイートを更新する
</button>

<div class="loading_bar match mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
<div class="timeline match">
</div>


<script>
    $(function() {
        var API_URL = "/api/timeline";
        var reload_button = $(".reload_button");
        var loading_bar = $(".loading_bar");
        var timeline = $(".timeline");

        var state = {
            is_loading: false,
            tweets: []
        }

        var main = function() {
            init();
            fetch();
        };

        var stateChanged = function() {
            if (state.is_loading) {
                loading_bar.show();
            } else {
                loading_bar.hide();
            }
            build();
        };

        var init = function() {
            state.is_loading = true;
            state.tweets = [];
            stateChanged();
        };

        var fetch = function(max_id) { 
            $.getJSON(API_URL, {max_id: max_id}, callback);
        }

        var callback = function(data) {
            console.log(data);
            state.tweets = state.tweets.concat(data.tweets);
            state.is_loading = false;
            stateChanged();
        };

        var build = function() {
            console.log(state);
            tws = state.tweets;
            html = "";
            for(var i=0; i<tws.length; i++) {
                html += buildTweet(tws[i]); 
            }
            timeline.html(html);
        };

        var buildTweet = function(tweet) {
            var tweet_id = tweet.id_str;
            var tweet_body = tomorinize(tweet.text);
            var screen_name = tweet.user.screen_name; 
            var profile_icon = tweet.user.profile_image_url;
            var link = "https://twitter.com/" + screen_name + "/status/" + tweet_id;
            var outer = $("<div></div>").addClass("list-group-item");
            var media = $("<div></div>").addClass("media");
            var left = $("<div></div>").addClass("media-left");
            var icon = $("<image/>").addClass("tweet_icon media-object").attr("src", profile_icon);
            var body = $("<div></div>").addClass("media-body");
            var author = $("<div></div>");
            var user = $("<b></b>").addClass("tweet_user").text("友利奈緒");
            var uid = '&nbsp;<small><a href="' +
                      link +
                      '" class="tweet_link">@' +
                      screen_name +
                      '</a></small>';
            var content = $("<div></div>").addClass("tweet").text(tweet_body);

            author.append(user).append(uid);
            body.append(author).append(content);
            left.append(icon);
            media.append(left).append(body);
            outer.append(media);
            return outer.html();
        };

        var tomorinize = function(text) {
            return text.replace(/\@\S+/g, "@友利奈緒");
        };
        main();
    });
</script>
