<div class="list-group-item">
    <div class="media">
        <div class="media-left">
            <img src="https://placekitten.com/201/201" class="tweet_icon media-object">
        </div>
        <div class="media-body">
            <div>
                <b class="tweet_user">友利奈緒</b>
                &nbsp;
                <small><a href="#" class="tweet_link">@hogehoge</a></small>
            </div>
            <div class="tweet">
                グーグル、「Nexus」イベントを米国時間9月29日にサンフランシスコで開催か japan.cnet.com/news/service/3…
                グーグル、「Nexus」イベントを米国時間9月29日にサンフランシスコで開催か japan.cnet.com/news/service/3…
                グーグル、「Nexus」イベントを米国時間9月29日にサンフランシスコで開催か japan.cnet.com/news/service/3…
                グーグル、「Nexus」イベントを米国時間9月29日にサンフランシスコで開催か japan.cnet.com/news/service/3…
            </div>
        </div>
    </div>
</div>
